# ############################################################
#  Which files do not enter the GitHub repository?
# ############################################################

# barcode buddy
log/**/access.log
log/**/access.log.*
log/**/error.log
log/**/error.log.*

# all __pycache__ dirs
__pycache__

# settings in general(???) I still do not know! :-(
.storage/*

# some Google token. I cannot tell the purpose of this file anymore. :-(
.google.token

# the version of HA, e.g. '2021.9.1' on a single line w/ no newline
.HA_VERSION

#
# all the HA stuff we do not want to have in the repository
#

# the HA token
hacs_token.txt
home-assistant_v2.db-shm
home-assistant_v2.db-wal

# the DB
home-assistant_v2.db

# log files
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
home-assistant.log.old

# the cam snapshots we took
var/opt/tg/*/*.jpg

# no secrets.yaml on a public accessable repository. Sorry!
secrets.yaml

# report created by the watchman integration (HACS)
watchman_report.txt

.ha_run.lock
# ############################################################
#  EOF
# ############################################################
