.storage/*
hacs_token.txt
home-assistant_v2.db
home-assistant.log
home-assistant.log.1
home-assistant_v2.db-shm
home-assistant_v2.db-wal
var/opt/tg/*/*.jpg
.google.token
.HA_VERSION
secrets.yaml

# barcode buddy
log/**/access.log
log/**/access.log.*
log/**/error.log
log/**/error.log.*

# all __pycache__ dirs
__pycache__

