####################################################################
# LVGL config for ESP32-2432S028R aka CYD --- with onboard ESP32
#####################################################################

# lvgl:

################################################################
# taken from https://github.com/pixelEDI/LVGL_ESP32_YT-Beispiele/blob/main/10_LVGL_HelloWorld_switch_mit_ESPHome/lvgl_helloworld.yaml
################################################################
  buffer_size: 25%
  theme:
    button:
      # This base is overridden by each button's bg_color
      bg_color: default_btn_bg_color
      # bg_opa: COVER
      bg_opa: transp
      border_color: default_btn_border_color
      border_width: 1
      text_color: 0xFFFFFF  # overridden per label using text_color: btn_x_color
      pressed:
        bg_color: 0x000000
        bg_grad_color: 0xC0C0C0
        bg_opa: COVER
        text_color: default_btn_txt_pressed_color
      checked:
        bg_color: 0x000000
        bg_grad_color: 0x000000
        bg_opa: COVER
        text_color: default_btn_txt_checked_color
  pages:
    - id: main_page
      pad_all: 0
      widgets:
        - obj:
            width: ${cyd_display_width_320}
            height: ${cyd_display_height_240}
            bg_color: room_bg_color
            layout:
              type: grid
              grid_columns: [fr(1), fr(1), fr(1), fr(1)]
              grid_rows: [fr(1), fr(1), fr(1)]
            pad_all: 5px
            outline_pad: 5px
            widgets:
              - button:
                  id: btn_dishwasher
                  grid_cell_column_pos: 0
                  grid_cell_row_pos: 0
                  grid_cell_x_align: STRETCH
                  grid_cell_y_align: STRETCH
                  checkable: true
                  widgets:
                    - label:
                        id: lbl_btn_dishwasher
                        text: "󰪬"
                        text_font: mdi_icons
                        align: center
                  on_click:
                    then:
                      # - binary_sensor.template.publish:
                      #     id: btn_dishwasher_pressed
                      #     state: ON
                      - delay: 500ms
                      # - binary_sensor.template.publish:
                      #     id: btn_dishwasher_pressed
                      #     state: OFF
              - button:
                  id: btn_microwave
                  grid_cell_column_pos: 1
                  grid_cell_row_pos: 0
                  grid_cell_x_align: STRETCH
                  grid_cell_y_align: STRETCH
                  checkable: true
                  widgets:
                    - label:
                        id: lbl_btn_microwave
                        text: "󰲙"
                        text_font: mdi_icons
                        align: center
                  on_click:
                    then:
                      # - homeassistant.action:
                      #     action: light.toggle
                      #     data:
                      #       entity_id: light.office_ambient_lights
                      # - binary_sensor.template.publish:
                      #     id: btn_microwave_pressed
                      #     state: ON
                      - delay: 500ms
                      # - binary_sensor.template.publish:
                      #     id: btn_microwave_pressed
                      #     state: OFF
              - button:
                  id: btn_kettle
                  grid_cell_column_pos: 2
                  grid_cell_row_pos: 0
                  grid_cell_x_align: STRETCH
                  grid_cell_y_align: STRETCH
                  checkable: true
                  widgets:
                    - label:
                        id: lbl_btn_kettle
                        text: "󰗺"
                        text_font: mdi_icons
                        align: center
                  on_click:
                    then:
                      # - homeassistant.action:
                      #     action: switch.toggle
                      #     data:
                      #       entity_id: switch.office_fan_plug
                      # - binary_sensor.template.publish:
                      #     id: btn_kettle_pressed
                      #     state: ON
                      - delay: 500ms
                      # - binary_sensor.template.publish:
                      #     id: btn_kettle_pressed
                      #     state: OFF
              - button:
                  id: btn_coffeemachine
                  grid_cell_column_pos: 3
                  grid_cell_row_pos: 0
                  grid_cell_x_align: STRETCH
                  grid_cell_y_align: STRETCH
                  checkable: true
                  widgets:
                    - label:
                        id: lbl_btn_coffeemachine
                        text: "󱂟"
                        text_font: mdi_icons
                        align: center
                  on_click:
                    then:
                      # - homeassistant.action:
                      #     action: light.toggle
                      #     data:
                      #       entity_id: light.office_light
                      # - binary_sensor.template.publish:
                      #     id: btn_coffeemachine_pressed
                      #     state: ON
                      - delay: 500ms
                      # - binary_sensor.template.publish:
                      #     id: btn_coffeemachine_pressed
                      #     state: OFF
              # - switch:
              #     id: light_switch
              #     align: CENTER
              #     on_click:
              #       light.toggle: local_light
              #     grid_cell_column_pos: 0
              #     grid_cell_row_pos: 1
              #     # grid_cell_x_align: STRETCH
              #     # grid_cell_y_align: STRETCH
              # - switch:
              #     id: light_switch1
              #     align: CENTER
              #     on_click:
              #       light.toggle: local_light
              #     grid_cell_column_pos: 1
              #     grid_cell_row_pos: 1
              #     # grid_cell_x_align: STRETCH
              #     # grid_cell_y_align: STRETCH
              # - switch:
              #     id: light_switch2
              #     align: CENTER
              #     on_click:
              #       light.toggle: local_light
              #     grid_cell_column_pos: 2
              #     grid_cell_row_pos: 1
              #     # grid_cell_x_align: STRETCH
              #     # grid_cell_y_align: STRETCH
              # - switch:
              #     id: light_switch3
              #     align: CENTER
              #     on_click:
              #       light.toggle: local_light
              #     grid_cell_column_pos: 3
              #     grid_cell_row_pos: 1
              #     # grid_cell_x_align: STRETCH
              #     # grid_cell_y_align: STRETCH
  on_idle:
    timeout: !lambda "return (id(cyd_display_timeout_s).state * 1000);"
    then:
      - logger.log: "LVGL is idle"
      - light.turn_off: display_backlight
      - lvgl.pause:

####################################################################
# EOF
####################################################################
