####################################################################
# LVGL config for ESP32-2432S028R aka CYD --- with onboard ESP32
#####################################################################

# lvgl:

################################################################
# taken from https://github.com/pixelEDI/LVGL_ESP32_YT-Beispiele/blob/main/10_LVGL_HelloWorld_switch_mit_ESPHome/lvgl_helloworld.yaml
################################################################
  buffer_size: 25%
  theme:
    button:
      # This base is overridden by each button's bg_color
      bg_color: 0x000000
      bg_opa: COVER
      border_color: 0x000000
      border_width: 1
      text_color: 0xFFFFFF  # overridden per label using text_color: btn_x_color
      pressed:
        # Light grey for pressed state (used uniformly)
        bg_color: 0xC0C0C0
        bg_grad_color: 0xC0C0C0
        bg_opa: COVER
      checked:
        bg_color: 0x000000
        bg_grad_color: 0x000000
        bg_opa: COVER
        text_color: 0x800080 # purple icon when "checked"... entity is on
  pages:
    - id: main_page
      pad_all: 0
      widgets:
        - obj:
            width: ${cyd_display_width_320}
            height: ${cyd_display_height_240}
            bg_color: room_bg_color
            layout:
              type: grid
              grid_columns: [fr(1), fr(1), fr(1), fr(1)]
              grid_rows: [fr(1), fr(1), fr(1)]
            pad_all: 5px
            outline_pad: 5px
            widgets:
              - button:
                  id: btn_1
                  grid_cell_column_pos: 0
                  grid_cell_row_pos: 0
                  grid_cell_x_align: STRETCH
                  grid_cell_y_align: STRETCH
                  bg_color: default_btn_bg_color
                  pressed:
                    bg_color: default_btn_pressed_bg_color
                  checkable: true
                  widgets:
                    - label:
                        id: lbl_btn_1
                        text: "󰪬"
                        text_font: mdi_icons
                        # text_color: btn_1_color
                        # text_color: ha_yellow
                        align: center
                  on_click:
                    then:
                      # - binary_sensor.template.publish:
                      #     id: button_1_pressed
                      #     state: ON
                      - delay: 500ms
                      # - binary_sensor.template.publish:
                      #     id: button_1_pressed
                      #     state: OFF
              - button:
                  id: btn_2
                  grid_cell_column_pos: 1
                  grid_cell_row_pos: 0
                  grid_cell_x_align: STRETCH
                  grid_cell_y_align: STRETCH
                  bg_color: default_btn_bg_color
                  pressed:
                    bg_color: default_btn_pressed_bg_color
                  checkable: true
                  widgets:
                    - label:
                        id: lbl_btn_2
                        text: "󰲙"
                        text_font: mdi_icons
                        align: center
                  on_click:
                    then:
                      # - homeassistant.action:
                      #     action: light.toggle
                      #     data:
                      #       entity_id: light.office_ambient_lights
                      # - binary_sensor.template.publish:
                      #     id: button_2_pressed
                      #     state: ON
                      - delay: 500ms
                      # - binary_sensor.template.publish:
                      #     id: button_2_pressed
                      #     state: OFF
              - button:
                  id: btn_3
                  grid_cell_column_pos: 2
                  grid_cell_row_pos: 0
                  grid_cell_x_align: STRETCH
                  grid_cell_y_align: STRETCH
                  bg_color: default_btn_bg_color
                  pressed:
                    bg_color: default_btn_pressed_bg_color
                  checkable: true
                  widgets:
                    - label:
                        id: lbl_btn_3
                        text: "󰗺"
                        text_font: mdi_icons
                        align: center
                  on_click:
                    then:
                      # - homeassistant.action:
                      #     action: switch.toggle
                      #     data:
                      #       entity_id: switch.office_fan_plug
                      # - binary_sensor.template.publish:
                      #     id: button_3_pressed
                      #     state: ON
                      - delay: 500ms
                      # - binary_sensor.template.publish:
                      #     id: button_3_pressed
                      #     state: OFF
              - button:
                  id: btn_4
                  grid_cell_column_pos: 3
                  grid_cell_row_pos: 0
                  grid_cell_x_align: STRETCH
                  grid_cell_y_align: STRETCH
                  bg_color: default_btn_bg_color
                  pressed:
                    bg_color: default_btn_pressed_bg_color
                  checkable: true
                  widgets:
                    - label:
                        id: lbl_btn_4
                        text: "󱂟"
                        text_font: mdi_icons
                        align: center
                  on_click:
                    then:
                      # - homeassistant.action:
                      #     action: light.toggle
                      #     data:
                      #       entity_id: light.office_light
                      # - binary_sensor.template.publish:
                      #     id: button_4_pressed
                      #     state: ON
                      - delay: 500ms
                      # - binary_sensor.template.publish:
                      #     id: button_4_pressed
                      #     state: OFF
              # - switch:
              #     id: light_switch
              #     align: CENTER
              #     on_click:
              #       light.toggle: local_light
              #     grid_cell_column_pos: 0
              #     grid_cell_row_pos: 1
              #     # grid_cell_x_align: STRETCH
              #     # grid_cell_y_align: STRETCH
              # - switch:
              #     id: light_switch1
              #     align: CENTER
              #     on_click:
              #       light.toggle: local_light
              #     grid_cell_column_pos: 1
              #     grid_cell_row_pos: 1
              #     # grid_cell_x_align: STRETCH
              #     # grid_cell_y_align: STRETCH
              # - switch:
              #     id: light_switch2
              #     align: CENTER
              #     on_click:
              #       light.toggle: local_light
              #     grid_cell_column_pos: 2
              #     grid_cell_row_pos: 1
              #     # grid_cell_x_align: STRETCH
              #     # grid_cell_y_align: STRETCH
              # - switch:
              #     id: light_switch3
              #     align: CENTER
              #     on_click:
              #       light.toggle: local_light
              #     grid_cell_column_pos: 3
              #     grid_cell_row_pos: 1
              #     # grid_cell_x_align: STRETCH
              #     # grid_cell_y_align: STRETCH

####################################################################
# EOF
####################################################################
