# required vars:
# - uid
# - entity_id
# - width
# - height
# - text

# button:
  <<: !include
    file: ../stateful.yaml
    vars:
      uid: ${uid}
      entity_id: ${entity_id}
      width: ${width}
      height: ${height}
      icon_on: "\U000F06E8"
      icon_off: "\U000F0336"
      text: ${text}
  on_short_click:
    - homeassistant.action:
        action: light.toggle
        data:
          entity_id: ${entity_id}
          brightness_pct: '100'
  on_long_press:
    - homeassistant.action:
        action: light.turn_on
        data:
          entity_id: ${entity_id}
          brightness_pct: '1'
