####################################################################
# TOUCHSCREEN config for ESP32-2432S028R aka CYD --- with onboard ESP32
#####################################################################

# touchscreen:

################################################################
# taken from https://github.com/pixelEDI/LVGL_ESP32_YT-Beispiele/blob/main/10_LVGL_HelloWorld_switch_mit_ESPHome/lvgl_helloworld.yaml
################################################################
  - platform: xpt2046
    id: my_touch
    spi_id: touch
    cs_pin: GPIO33
    interrupt_pin: GPIO36
    calibration:
      x_min: 200
      x_max: 3900
      y_min: 200
      y_max: 3900   
    transform:
      mirror_x: true
      mirror_y: true
      # true as LCD is used in landscape mode
      swap_xy: true
    on_release:
      then:    
      - if:
          condition: lvgl.is_paused
          then:
            - lvgl.resume:
            - lvgl.widget.redraw:
            - light.turn_on: display_backlight
            - switch.turn_off: switch_antiburn
####################################################################
# EOF
####################################################################
