####################################################################
# WIFI - access point only
####################################################################

# ---------------------------------------------------------------------
# WiFi settings
wifi:
  ap:
    ssid: ${friendly_id}_AP
    password: ${device_name}_123!
    static_ip: 10.0.0.1
    gateway: 10.0.0.1
    subnet: 255.255.255.0
  domain: !secret WIFI_DOMAIN
  min_auth_mode: WPA2  # Reject WPA-only networks

  # # Optional manual IP
  # manual_ip:
  #   static_ip: $wifi_static_ip
  #   gateway: !secret WIFI_GATEWAY
  #   subnet: !secret WIFI_SUBNET
  #   dns1: !secret WIFI_DNS1
  #   dns2: !secret WIFI_DNS2
  # # fast_connect: not possible with multiple networks!
  # fast_connect: !secret WIFI_FAST_CONNECT

# renaming a device which is online
# see https://esphome.io/components/esphome.html?highlight=restore_from#changing-esphome-node-name
# put the current device name in the next line and uncomment, compile/upload and comment the next line again
#  use_address: test8266.local

# now defaults (just to mention them)
#  reboot_timeout: !secret WIFI_REBOOT_TIMEOUT
#  output_power: !secret WIFI_OUTPUT_POWER_STD
#  fast_connect: !secret WIFI_FAST_CONNECT
#  id: !secret WIFI_ID (rather not use this without susbstitution in place!)

# ############################################################
#  END OF FILE
# ############################################################
