####################################################################
####################################################################
#
# DEVICE: l2kitchen02
#
####################################################################
####################################################################

####################################################################
# DESCRIPTION
####################################################################
#
# Purpose:
#   - Microcontroller for measuring distance to the diswasher door and the ambience light of the kitchen
#
# Future feature:
#   - unknown
#
# Hardware:
#   - 1 ESP32C3
#
# Automation:
#   - none so far
#
# WiFi:
#   - connects to the strongest WiFi configured
#
# Input:
#   - VEML7700
#   - VL53L0X
#
# Output
#   - the device reports to HA only 
#

###################### PACKAGES CONFIGURATION ######################
# naming conventions which override common behaviour

substitutions: 
  <<: !include conf/substitutions/device_specific/l2kitchen02.yaml
  <<: !include conf/substitutions/overwrites/l2kitchen02.yaml

###################### PACKAGES CONFIGURATION ######################
# merge information to setup the base
# log_level can be overwritten in overwrites/<device_name>.yaml

packages:
  substitutions_common: !include conf/common/packages/substitutions/common.yaml
  device_base_common: !include conf/common/packages/device_base_esp32c3.yaml
  wifi_common: !include conf/common/networking/wifi_multiple_networks_dhcp_ip.yaml
  # captive_portal: conf/common/networking/captive_portal.yaml

  # Contained an error which got validated nevertheless. 
  # After removal of the error (2x ota: entries) it threw an error, so ota: moved to root level
  # ota: !include conf/common/networking/ota.yaml

ota: !include conf/common/networking/ota.yaml

############### BASIC CONFIGURATION FOR THIS DEVICE ###############

api: !include conf/common/networking/api.yaml
time: !include conf/common/time.yaml
# sun: !include conf/common/sun.yaml

############### COMMON CONFIGURATION FOR THIS DEVICE ###############

# IC2 needs another file for the ESP32 platform
i2c: !include conf/common/device/i2c_esp32c3.yaml
# dallas: !include conf/common/device/dallas.yaml
# mcp23017: !include conf/common/device/mcp23017.yaml

####################################################################
###################### DETAILED CONFIGURATION ######################
####################################################################

#-------------------------------------------------------------------
# MISC STUFF NEEDED FOR EXECUTION OF OFFLINE FUNCTIONALITY

globals:
  - <<: !include conf/common/globals/connectivity.yaml
#   - <<: !include conf/common/globals/opto_coupler_01.yaml
#   - <<: !include conf/common/globals/opto_coupler_02.yaml
#   - <<: !include conf/common/globals/opto_coupler_03.yaml
interval: !include conf/common/interval/connectivity.yaml
# script:
#   - <<: !include conf/script/l2kitchen02/reed01_click_on_press.yaml
#   - <<: !include conf/script/l2kitchen02/reed02_click_on_press.yaml
#   - <<: !include conf/script/l2kitchen02/reed03_click_on_press.yaml
#   - <<: !include conf/script/l2kitchen02/reed04_click_on_press.yaml
#   - <<: !include conf/script/l2kitchen02/reed05_click_on_press.yaml
#-------------------------------------------------------------------
# BINARY SENSORS
binary_sensor:
  - <<: !include conf/common/binary_sensor/wifi_status.yaml
  # - <<: !include conf/common/binary_sensor/reed_A1_onpress.yaml
  # - <<: !include conf/common/binary_sensor/reed_A2_onpress.yaml
  # - <<: !include conf/common/binary_sensor/reed_A3_onpress.yaml
  # - <<: !include conf/common/binary_sensor/reed_A4_onpress.yaml
  # - <<: !include conf/common/binary_sensor/reed_A5_onpress.yaml
#-------------------------------------------------------------------
# SENSORS
sensor:
  # common sensors
  - <<: !include conf/common/sensor/wifisignal.yaml
  - <<: !include conf/common/sensor/uptime.yaml
  # - <<: !include conf/common/sensor/dht_esp32_01.yaml
  # device related
  - <<: !include conf/common/sensor/vl53L0x_single_mm.yaml
  # - <<: !include conf/common/sensor/veml7700_standard_short.yaml

#-------------------------------------------------------------------
# TEXT SENSORS
text_sensor:
  # common text sensors
  - <<: !include conf/common/text_sensor/esphomeversion.yaml
  - <<: !include conf/common/text_sensor/wifiinfo.yaml
  - <<: !include conf/common/text_sensor/uptime.yaml
  # device related
  # none so far

#-------------------------------------------------------------------
# Enable the BLE Tracker
# bluetooth_proxy:

####################################################################
# EOF
####################################################################
