# ############################################################
#  Which files do not enter the GitHub repository?
# ############################################################

# all zigbee2mqtt log files
log/**/log.txt
# ############################################################
#  EOF
# ############################################################
