homeassistant:
  enabled: true
mqtt:
  server: mqtt://core-mosquitto:1883
  user: mqtt_user
  password: lifetec
serial:
  port: >-
    /dev/serial/by-id/usb-Silicon_Labs_Sonoff_Zigbee_3.0_USB_Dongle_Plus_0001-if00-port0
  adapter: zstack
frontend:
  enabled: true
  port: 8099
advanced:
  log_syslog:
    app_name: Zigbee2MQTT
    eol: /n
    host: localhost
    localhost: localhost
    path: /dev/log
    pid: process.pid
    port: 514
    protocol: udp4
    type: '5424'
  last_seen: ISO_8601_local
  log_level: warning
device_options:
  homeassistant:
    last_seen:
      enabled_by_default: true
devices:
  '0x1c34f1fffe095fa9':
    friendly_name: ZB_TRV_Kitchen_L2
    icon: device_icons/19dcc5d3226aeff036720630326723a4.png
  '0x1c34f1fffe095fc2':
    friendly_name: ZB_TRV_Lounge_L2
    icon: device_icons/19dcc5d3226aeff036720630326723a4.png
  '0xa4c1382e5e523972':
    friendly_name: ZB_Plug_L2_Lounge_Light_Corner
    icon: device_icons/08a9016bbc0657cf5f581ae9c19c31a5.png
  '0xa4c13804488a21e2':
    friendly_name: ZB_Plug_L2_Kitchen_Microwave
    icon: device_icons/08a9016bbc0657cf5f581ae9c19c31a5.png
  '0xa4c13818bd119ece':
    friendly_name: ZB_Charger_UH
    icon: device_icons/08a9016bbc0657cf5f581ae9c19c31a5.png
  '0xa4c138d094eebae0':
    friendly_name: ZB_Plug_L2_Kitchen_Fridge
    icon: device_icons/08a9016bbc0657cf5f581ae9c19c31a5.png
  '0xa4c1389480d75a5f':
    friendly_name: ZB_DW_L2_Bathroom
    icon: device_icons/6056d088143bc1eadebd8cd0cfec5368.png
  '0xa4c138633bdc9ba2':
    friendly_name: ZB_Plug_L2_Lounge_Scanner
    icon: device_icons/08a9016bbc0657cf5f581ae9c19c31a5.png
  '0xa4c1384f31b8d0f9':
    friendly_name: ZB_Plug_L2_Kitchen_Coffeemachine
    icon: device_icons/08a9016bbc0657cf5f581ae9c19c31a5.png
  '0xa4c13854b0d251be':
    friendly_name: ZB_Plug_L2_Kitchen_DishWasher
    icon: device_icons/08a9016bbc0657cf5f581ae9c19c31a5.png
  '0xa4c138c0a8b9f56c':
    friendly_name: ZB_TH_L2_Storage_Out
    icon: device_icons/ddd05fe2ed7c1fbb69d67af7f2ca578a.png
  '0xa4c138973cb5fed6':
    friendly_name: ZB_TH_L2_Lounge
    icon: device_icons/cb7cad73d6b37d57c8c32f7c9c17ca4a.png
  '0xa4c13896310b0036':
    friendly_name: ZB_TH_L2_Storage
    icon: device_icons/cb7cad73d6b37d57c8c32f7c9c17ca4a.png
  '0xa4c138a59865fee9':
    friendly_name: ZB_TH_L2_Kitchen
    icon: device_icons/cb7cad73d6b37d57c8c32f7c9c17ca4a.png
  '0xa4c138f6331b5916':
    friendly_name: ZB_Charger_GH
    icon: device_icons/08a9016bbc0657cf5f581ae9c19c31a5.png
  '0xa4c1383418264404':
    friendly_name: ZB_Plug_L2_Misc_01
    icon: device_icons/08a9016bbc0657cf5f581ae9c19c31a5.png
  '0xa4c1384ba5b443f0':
    friendly_name: ZB_Plug_L2_Misc_02
    icon: device_icons/08a9016bbc0657cf5f581ae9c19c31a5.png
  '0x003c84fffec93dd7':
    friendly_name: ZB_TRV_Bedroom_L2
    icon: device_icons/19dcc5d3226aeff036720630326723a4.png
  '0xa4c138cb4a160c30':
    friendly_name: ZB_DW_L2_Bedroom_01
    icon: device_icons/b1976e8cc79f1e6878223c613c53fe63.png
  '0xa4c138b55bafbf81':
    friendly_name: ZB_DW_L2_Bedroom_02
    icon: device_icons/b1976e8cc79f1e6878223c613c53fe63.png
  '0xa4c1388148217706':
    friendly_name: ZB_Plug_L2_Kitchen_Kettle
    icon: device_icons/08a9016bbc0657cf5f581ae9c19c31a5.png
  '0xa4c138a8686e79f6':
    friendly_name: ZB_Plug_L2_Bedroom_Misc01
  '0xa4c13869f1de9bd3':
    friendly_name: ZB_HumanPresence_L2_Kitchen_01
  '0xa4c138c3a4782f6a':
    friendly_name: ZB_HumanPresence_L2_Bedroom_01
  '0xa4c138c3d2eb947e':
    friendly_name: ZB_HumanPresence_L2_Lounge_01
  '0xa4c1386544d8ad1c':
    friendly_name: ZB_HumanPresence_L2_Storage_01
groups:
  '1':
    friendly_name: level2-TRVs
  '2':
    friendly_name: level2-Plugs
  '3':
    friendly_name: level2-HumanPresence
availability:
  enabled: true
version: 4
